
<html>
<body>
  <br>
    <div style="width: 50%; height: 50%; float:left; padding-right: 30px;">
        <h2 class="form-header">Lab Reservations</h2>
        <form (submit) = "searchLab()">
          
          <div class="form-group">
            <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig" placeholder="Pick a date" [(ngModel)]="date1" name="date1" style="width:50%">
          </div>
          <!-- <div class="form-group">
            <input type="text" class="form-control" placeholder="Select a lab" [(ngModel)]="lab" name="lab">
          </div> -->
          <div class="form-group" style="padding-top: 20px">
              <label>Select a Lab</label>
              <select name="lab1" class="form-control" [(ngModel)]="labs" style="block-size: 40px; width: 38%">
                  <option [ngValue]="null" disabled >Select a lab</option>
                  <option *ngFor = "let lb of lab" [value]="lb.name">{{lb.name}}</option>
            </select>
                
          </div>
          <input type="submit" class="btn btn-primary" value="Search">
        </form>
        
      </div>

    <div style="width: 50%; height: 50%; float:right;">
        <div class="form-group">
            <br>
            <div class="col s7" >
              <table class="table table-bordered">
      
                  <thead>
                    <tr class="header">
                        <th>Lab</th>
                        <th>From(H)</th>
                        <th>To(H)</th>
                        <th>Date</th>
                        <th>Event</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Lab A</td>
                      <td>1100</td>
                      <td>1400</td>
                      <td>2018-07-10</td>
                      <td>IEEE Session</td>
                    </tr>
                    <tr  *ngFor="let item of this.data; let i = index">
                        <td>{{item.lab}}</td>
                          <td>{{ item.fromtime }}</td>
                          <td>{{ item.totime }}</td>
                          <td>{{ item.date }}</td>
                          <td>{{item.event}}</td>
                  
                
                    </tbody>
                  </table>
                </div>
                <div class="col s7" >
                    <table class="table table-bordered">
                      
                        <thead>
                          <tr class="header">
                              <th>Lab</th>
                              <th>From(H)</th>
                              <th>To(H)</th>
                              <th>Date</th>
                              <th>Event</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Lab A</td>
                            <td>1100</td>
                            <td>1400</td>
                            <td>2018-07-10</td>
                            <td>IEEE Session</td>
                          </tr>
                          <tr  *ngFor="let item of this.data1; let i = index">
                              <td>{{item.lab}}</td>
                                <td>{{ item.fromtime }}</td>
                                <td>{{ item.totime }}</td>
                                <td>{{ item.date }}</td>
                                <td>{{item.event}}</td>
                        
                      
                          </tbody>
                        </table>
                      </div>
                </div>
      
      </div>

      
              
    <div style="width: 100%; padding-top:20px; float: left;">
            <h2 class="form-header">Check Availability</h2>
            <form (submit) = "searchTime()">
              <div class="form-group">
                <input type="text" class="form-control" bsDatepicker [bsConfig]="datePickerConfig" placeholder="Pick a date" [(ngModel)]="date2" name="date2" style="width:25%">
              </div>
              <div class="form-group">
                  <timepicker [minuteStep]="mstep" [(ngModel)]="time1" name="time1"></timepicker>
                  <!-- <pre class="alert alert-info">Time is: {{time1}}</pre> -->
                </div>
              <input type="submit" class="btn btn-primary" value="Search">
            </form>
        
    
    </div>

</body>
</html>
